.photo-grid-container {    
   overflow: hidden;
}

 .photo-grid-container p {  
    transform:translate(0%,-50%);
    -webkit-transform:translate(0%,-50%);
    color:white;
    display:none;
    font-family: "Lato", sans-serif;
    font-size:14px;
    text-align: center ;
}

.photo-grid-container a:hover p {
    display:block;

}

.photo-grid-container img {
  display: block;
  height: auto;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
  max-width: 100%;
}

.photo-grid-container a:hover img {
  filter: brightness(0.3);
  -webkit-filter:brightness(0.3);
  -moz-filter:brightness(0.3);

  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  transform: scale(1.2);
}

#mySidenav {
    border-right: 5px solid #50C198;
    background-color: white;
    box-shadow: 3px 0px 3px #BCBCBC;
}

#myMenu{
  width: 200px;
  float:right;
  color: #878787;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

#myMenu a:hover {
  background-color: #f2f2f2;
  color:#4d4d4d;
}

#myMenu div {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

#myMenu a:hover div{
  
   -webkit-transform: translateX(8px);
  transform: translateX(8px);
}

.foot{
  position: relative;
  float:left;
  padding-top: 100px;
  margin-left: 30px;
  
}

.annotation{
  font-family: "Domine", sans-serif;
  font-size:12px;
  position: relative;
  float:left;
  padding-top: 10px;
  margin-left: 21px;
}

#filter{
  padding-left: 16px;
  color: #878787;
  font-family: "Open Sans", sans-serif;
}

#filter a:hover {
  color:#50C198;
}

#filter a {
  text-decoration: none;
}

.name {
  font-family: "Lato", sans-serif;
  font-size:16px;
  font-weight: bold;
  position:relative;
  float:left;
  margin-top:10px; 
  margin-left:10px; 
  color:#4d4d4d;
}

.time {
  font-family: "Open Sans", sans-serif;
  font-size:12px;
  position:relative;
  float:right;
  margin-top:10px;
  margin-right:10px;   
  color:#878787;
}

a.back-top {
  display: none;
  width: 36px;
  height: 36px;
  position: fixed;
  z-index: 999;
  right: 20px;
  bottom: 20px;
  background: #F4CBD5;
  text-align: center ;
  line-height: 36px;
}

#gallery:hover{
   box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
}

#gallery {
   margin-top: 32px;
   margin-bottom:32px;
   padding-bottom: 10px;
   box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 6px 0 rgba(0, 0, 0, 0.19);
}

.imgTitle {
  font-family: "Lato", sans-serif;
  font-size:16px;
  font-weight: bold;
  margin-top:10px; 
  margin-left:10px; 
  color:#4d4d4d;
}

.imgTime {
  font-family: "Open Sans", sans-serif;
  font-size:12px;
  margin-bottom:10px;
  margin-left:10px;   
  color:#878787;
}

.mySlides {
  display:none;
  
}

.projectTitle{
  font-family: "Lato",sans-serif;
  font-size:40px;
  font-weight:bold;
  color:#4d4d4d;
  margin-top:40px;
}

.subtitle{
  font-family: "Lato",sans-serif;
  font-size:22px;
  font-weight: 300;
  color:#878787;
  /*margin-top:10px;*/
}

.itemTitle{
  font-family: "Lato",sans-serif;
  font-size:16px;
  font-weight: 700;
  color:#4d4d4d;
  margin-top:10px;
}

.itemContent{
  font-family: "Lato",sans-serif;
  font-size:16px;
  font-weight: 300;
  color:#878787;
  margin-top:10px;
}

.video-container {
  position:relative;
  padding-bottom:56.25%;
  padding-top:30px;
  height:0;
  overflow:hidden;
  margin-top:40px;
}

.video-container iframe {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.contentSection{
 padding-top: 70px;
 
}

.contentSection2{
 padding-top: 8px;
 
}

.stateTitle{
  
  font-family: "Lato",sans-serif;
  font-size:24px;
  font-weight: 400;
  color:#50C198;
  margin-top:30px;
}

.statement{
  
  font-family: "Open Sans",sans-serif;
  font-size:16px;
  font-weight: 300;
  color:#878787;
  margin-top:20px;
}

.walkTitle {
  font-family: "Domine", sans-serif;
  font-size:12px;
  font-weight: bold;
  margin-top:10px; 
  text-align: center;
  color:#878787;
  /*background-color: blue;*/
}



code{
  font-family: 'Open Sans', serif;
  color:#878787;
  font-size: 16px;
  background-color: #f5f5f5;
  padding-right: 5px;
  padding-left: 5px;
}


button {
  display: inline-block;
  background-color: #EEA4B8;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  padding: 6px 16px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button:hover span {
  padding-right: 25px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}

.walkRowStatic{
    background-color: #F2F2F2;
    border-spacing: 10px; 
}

.stateSubtitle{
  font-family: 'Josefin Slab', serif;
  font-size:20px;
  color:#4d4d4d;
  margin-top:40px;
  margin-left:40px;

}

  


.table {
  border-spacing:10px; /* need some space ?*/
  display:table;
  table-layout:fixed;
  width:100%;
 
  }
.table div {
  display:table-cell;

  }


.myTool {
    float: left;
    clear: both;
}


.sectionTitle{
  font-family: "Lato",sans-serif;
  font-size:24px;
  font-weight:bold;
  color:#4d4d4d;
  margin-top:40px;
}

.smallTitle{
  font-family: "Lato",sans-serif;
  font-size:22px;
  font-weight: 400;
  color:#50C198;
  margin-top:20px;
}


.statement02{
  
  font-family: "Open Sans",sans-serif;
  font-size:16px;
  font-weight: 300;
  color:#4d4d4d;
  margin-top:50px;
  float:left;
}

#test{
  padding-right: 48px;
}

#resume{
 float: right;
}

.w3-progressbar{
   background-color: #878787;
}

.myIcon{
  color:#50C198;
}

.educationTime{
  margin-top: 16px;
  color: #878787;
  font-family: "Open Sans", sans-serif;
}

/*education section animation*/

.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 970px;
  margin: 0 auto;
}
.cd-container::after {
  content: '';
  display: table;
  clear: both;
}


#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}

#cd-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #d7e4ed;
}

@media only screen and (min-width: 970px) {
  #cd-timeline {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  #cd-timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}


.cd-timeline-block {
  position: relative;
  margin: 2em 0;

}
.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-block:first-child {
  margin-top: 0;
}
.cd-timeline-block:last-child {
  margin-bottom: 0;
}

@media only screen and (min-width: 970px) {
  .cd-timeline-block {
    margin: 4em 0;
  }
  .cd-timeline-block:first-child {
    margin-top: 0;
  }
  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }
}

.cd-timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  border-radius: 50%;
  background: #EEA4B8;
}


@media only screen and (min-width: 970px) {
  .cd-timeline-img {
    width: 20px;
    height: 20px;
    left: 50%;
    margin-left: -10px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }

  .cssanimations .cd-timeline-img.is-hidden {
    visibility: hidden;
  }

  .cssanimations .cd-timeline-img.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
    -moz-animation: cd-bounce-1 0.6s;
    animation: cd-bounce-1 0.6s;
  }
}

@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -moz-transform: scale(1.2);
  }

  100% {
    -moz-transform: scale(1);
  }
}
@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}


.cd-timeline-content {
  position: relative;
  margin-left: 60px;
 /* background: red;*/
  border-radius: 0.25em;
  padding: 1em;
}
.cd-timeline-content:after {
  content: "";
  display: table;
  clear: both;
}

.cd-timeline-content .cd-date {
  float: left;
  padding: .8em 0;
  opacity: .7;
}
.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white;
}
@media only screen and (min-width: 768px) {
  .cd-timeline-content h2 {
    font-size: 20px;
    font-size: 1.25rem;
  }
  .cd-timeline-content p {
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-content .cd-timeline-content  {
    font-size: 14px;
    font-size: 0.875rem;
  }
}
@media only screen and (min-width: 970px) {
  .cd-timeline-content {
    margin-left: 0;
    padding: 1.6em;
    width: 45%;
  }
  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: white;
  }
  .cd-timeline-content  {
    float: left;
  }
  .cd-timeline-content .cd-date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: white;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content  {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    right: 122%;
    text-align: right;
  }
  .cssanimations .cd-timeline-content.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-content.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 0.6s;
    -moz-animation: cd-bounce-2 0.6s;
    animation: cd-bounce-2 0.6s;
  }
}

@media only screen and (min-width: 970px) {
  /* inverse bounce effect on even content blocks */
  .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    -moz-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s;
  }
}
@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -moz-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(-20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}



